.fieldset-draggable .fieldset-title {
	background-image: url("../images/draggable.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    cursor: move;
    padding-left: 25px;
}

.fieldset-cck-mix input.form-submit.add-field {
    float: left;
    width: 70px;
}

.fieldset-draggable.hidden,
.fieldset-draggable.content-multiple-removed-row {
	overflow: hidden;
	height: 30px;
	padding: 0;	
}

.fieldset-draggable.hidden .fieldset-content,
.fieldset-draggable.content-multiple-removed-row .fieldset-content {
	display: none !important;
}

.fieldset-draggable.content-multiple-removed-row .fieldset-title {
	background-color: #FFFFCC;
} 

.placeholder-fieldset-draggable 
{
    border: 1px dashed #DDDDDD;
    margin-bottom: 10px;
}

.fieldset-draggable .filefield-element .widget-edit .form-item
{
	padding: 0;
}

.fieldset-draggable .filefield-element .widget-edit .form-item:first-child
{
	margin: 0;
}

#cck-mixer-content-list.wait * {
	cursor: wait !important;
}
